<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Welcome to BlueBird</h1>
      <% if logged_in? %>
          <h2>Hello, <%= current_user.username %>!</h2>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Logout">
          </form>
      <% else %>
        <a href="<%= new_user_url %>">Sign Up</a>
        <br>
        <a href="<%= new_session_url %>">Login</a>
      <% end %>
    </header>

    <%= yield %>

    <br>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>

    <% if flash[:success] %>
      <% flash[:success].each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>

  </body>
</html>
